
<tr>
    <td>
        <figure> <a wait_href="https://maps.google.com.ua/maps?q=50.004968000000,+36.243290000000&amp;hl=ru"  target="_blank"><img alt="Магазин на ул. Алчевских" src="https://elmir.ua/uploads/artema.jpg" /><br />
            смотреть на карте</a> <span class="Tips2 free-wifi" hint="В наших магазинах Вы можете пользоваться бесплатным интернетом с открытым доступом по Wi-Fi."> <span>Бесплатный</span><br />
				Wi-Fi интернет</span> </figure></td>
    <td>
        <section style="padding-left: 30px">
            <h2>
                г. Харьков, магазин на ул. Алчевских</h2>
            <section>
                <h3>
                    Адрес:</h3>
                <p>
                    ул. Алчевских, 36<br />
                    пересечение улиц Алчевских (бывш. Артема) и Ярослава Мудрого (бывш. Петровского)</p>
            </section> <section>
            <h3>
                Режим работы:</h3>
            <p>
                Пн.-Пт.: с 9 до 19 часов<br />
                Сб.-Вс.: с 9 до 18 часов</p>
        </section> <section>
            <h3>
                Телефон:</h3>
            <p>
                (057) 728-30-08 - многоканальный</p>
        </section> <section>
            <h3>
                Геокод:</h3>
            <p>
                50.005077,36.2434</p>
        </section> </section></td>
</tr>