<h5>Доставка по Харькову</h5>
<h6>Cтоимость доставки составляет 45 грн.</h6>

<h6>Доставка работает ежедневно:</h6>

<p>в будние дни (пн-пт): с 9:00 до 19:00;</p>
<p>в выходные (сб-вс): с 9:00 до 18:00.</p>
<p>Доставка крупногабаритных товаров (КГТ) осуществляется до подъезда.</p>

<p>Стоимость подъема КГТ до 100кг - 20 грн/этаж, 100-150кг - 40 грн/этаж за каждую позицию.</p>

<p>Решения о возможности и стоимости подъема товаров весом более 150кг принимаются в индивидуальном порядке.</p>

<p>Если есть работающий лифт, в который входит КГТ - оплачиваются первый и последний этажи.</p>
<p>Бесплатному подъему подлежит малогабаритная техника весом до 15 кг и телевизоры до 32" включительно.</p>

<p>Для Вашего удобства мы предоставляем возможность расчета наличными в пункте назначения после доставки товара.</p>

<p>При оплате товара по безналичному расчету в г. Харькове, доставка осуществляется только после оформления
    документов в офисе магазина </p>

<p>При доставке товара курьер осуществляет первичную проверку на целостность оборудования.</p>

<p>Курьер не производит настройку и сборку оборудования. В случае такой необходимости рекомендуем воспользоваться
    услугами квалифицированных специалистов.</p>

<p>Курьер не дает информацию о технических характеристиках устройств. Для получения такой информации обращайтесь к менеджерам интернет-магазина.</p>


<hr>

<img src="https://elmir.ua/uploads/np_logo.png" alt="NovaPachta">

<hr>
<h5>Доставка по Украине</h5>
<p>Транспортной компанией «Новая почта»</p>
<p>Транспортная компания «Новая почта» является лидером экспресс-доставок на территории Украины,
    имеет самую обширную сеть своих представительств и продолжает работу над ее расширением.</p>

<p>Доставка осуществляется по Вашему адресу либо на склад в Вашем городе, с возможностью приема оплаты наличными на месте,
    после доставки товара (наложенный платеж).</p>

<p>Срок доставки 1–2 дня.</p>

<p>Стоимость доставки можно рассчитать, воспользовавшись удобной формой на сайте «Новой почты».</p>

<p>По прибытии товара в пункт назначения Вы получите соответствующее SMS-сообщение.
    В случае доставки «До двери» с Вами свяжется представитель компании и согласует время доставки.</p>

<p>Вы можете отследить статус Вашего заказа на сайте «Новой почты».</p>

<p>По факту доставки Вы имеете возможность произвести проверку товара на целостность и работоспособность.</p>

<p>В случае выявления повреждений, несоответствия товара или его комплектации заявленной на нашем сайте информации,
    необходимо в присутствии сотрудника компании «Новая почта» составить соответствующий акт и отказаться от получения посылки.</p>

<p>После получения товара претензии к внешнему виду и комплектации не принимаются.</p>

<p>В обязанности курьера не входит настройка доставляемой техники.</p>
<p>Подробнее: </p>